@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,700;1,700&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display SC', serif;
font-family: 'Poppins', sans-serif; */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px darkgray;
  --webkit-box-shadow: 0 8px 6px -6px darkgray;
  border-bottom: 0px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

.footer {
  color: white;
  padding: 25px;
  background-color: #d4b811;
  background-image: linear-gradient(147deg, #d4b811 0%, #FF2525 74%);


}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;

}

.footer a:hover {
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  color: #FF2525;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-button {}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;

}